.login-div{
    box-sizing: border-box;
    border: 0.5px solid rgba(255, 255, 255, 0.081);
    width: 100%;
    height: fit-content;
    background-image: url("../../public/loginBG.svg");
    /* margin-top: 0; */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.login-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 37%;
    margin: 2% auto;
    padding: 0 2%;
    padding-top: 0;
    padding-bottom: 3%;
    border: 1px solid white;
    gap: 0.5em;
    /* background-color: white; */
    border-radius: 10px;
    /* opacity: 70%; */
    backdrop-filter: blur(35px);
    font-size: 16px;
    font-weight: 500;
}

.login-heading{
    font-size: 32px;
    font-weight: 500;
}

.muted-text{
    color: #8C8C8C;
}

.muted-text-2{
    color: #1C4A2A;
    
}
.muted-text-2 a{
    text-decoration: none;
}


.login-form{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin: 4% 0%;
}

.inputs{
    font-size: 16px;
    font-weight: 500;
    padding: 4% 2%;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.buttons{
    font-size: 16px;
    font-weight: 500;
    padding: 4% 1%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#login-btn{
    cursor: pointer;
    background-color: #1c4a2a;
    color: white;
}

#rst-btn{
    cursor: pointer;
    background-color: #c6b09a;
    color: white;
}

.forgot-pass{
    cursor: pointer;
    width: fit;
    margin: 0 auto;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: 0px solid red;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .login-content{
        width:60%;
        gap: 0.6em;
    }
}

@media screen and (max-width:768px){
    .login-content{
        width:60%;
        gap: 1.8em;
        font-size: 14px;
        font-weight: 500;
    }
}